.gradient-01 {
  background: #f37362;
  background: linear-gradient(90deg, #f37362 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@font-face {
  font-family: Inconsolata;
  src: url(../assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf);
}
.text-1 {
  font-size: 3.75rem;
  line-height: 110%;
  letter-spacing: -0.0625rem;
  font-weight: 700;
}
.text-1-mobile {
  font-size: 1.875rem;
  line-height: 110%;
  letter-spacing: -0.0625rem;
  font-weight: 700;
}
.text-2 {
  font-size: 2.5rem;
  line-height: 110%;
  letter-spacing: -0.0625rem;
  font-weight: 400;
}
.text-2-mobile {
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: -0.0625rem;
  font-weight: 400;
}
.text-3 {
  font-size: 1.875rem;
  line-height: 110%;
  letter-spacing: -0.0625rem;
  font-weight: 400;
}
.text-3-mobile {
  font-size: 1.375rem;
  line-height: 110%;
  letter-spacing: -0.0625rem;
  font-weight: 300;
}
.text-4 {
  font-size: 1.5rem;
  line-height: 120%;
  letter-spacing: -0.03125rem;
  font-weight: 300;
}
.text-4-mobile {
  font-size: 1.25rem;
  line-height: 120%;
  letter-spacing: -0.03125rem;
  font-weight: 300;
}
.text-5 {
  font-size: 1.25rem;
  line-height: 110%;
  letter-spacing: -0.03125rem;
  font-weight: 400;
}
.text-6 {
  font-size: 1.125rem;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 300;
}
.text-6-mobile {
  font-size: 0.875rem;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 300;
}
.text-7 {
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: -0.0125rem;
  font-weight: 300;
}
.border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%238784A5FF' stroke-width='4' stroke-dasharray='12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 0.75rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
.circle-top,
.circle-bot {
  width: 6.6875rem;
}
.circle-top,
.circle-bot,
.line-top,
.line-bot {
  position: fixed;
  z-index: -100;
}
.circle-top {
  top: -2rem;
  left: -1rem;
}
.circle-bot {
  top: 20rem;
  right: -3rem;
}
.line-top {
  width: 7rem;
  right: -0.5rem;
  top: 2rem;
}
.line-bot {
  width: 18.75rem;
  bottom: -1rem;
  left: -1rem;
}
body {
  background-image: url("../assets/images/background-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 1rem;
  font-family: Inconsolata, serif;
  overflow-x: hidden;
  position: relative;
}
body header {
  text-align: center;
  margin-top: 2.0625rem;
}
body header img {
  width: 10.5rem;
}
body section {
  padding: 2.5rem 0;
  text-align: center;
}
body section h1 {
  font-size: 1.875rem;
  line-height: 110%;
  letter-spacing: -0.0625rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1.25rem;
}
body section p {
  color: #d1d0d5;
  font-size: 1.25rem;
  line-height: 120%;
  letter-spacing: -0.03125rem;
  font-weight: 300;
}
body section h2 {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 110%;
  letter-spacing: -0.03125rem;
  font-weight: 400;
  text-align: start;
  font-stretch: 90%;
}
body section form {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
body section form .file {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
body section form .file label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.1875rem 1rem;
  background-color: rgba(255, 255, 255, 0.08);
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%238784A5FF' stroke-width='4' stroke-dasharray='12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 0.75rem;
  color: #d1d0d5;
  font-size: 0.875rem;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 300;
}
body section form .file label img {
  width: 3.125rem;
  height: 3.125rem;
  object-fit: cover;
  padding: 0.625rem;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 0.75rem;
  border: 1px solid #4b4869;
}
body section form .file label #removeBtn,
body section form .file label #changeBtn {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: -0.0125rem;
  font-weight: 300;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  text-transform: lowercase;
  letter-spacing: 0;
  border-radius: 0.25rem;
  z-index: 100;
}
body section form .file label #removeBtn:first-letter,
body section form .file label #changeBtn:first-letter {
  text-transform: capitalize;
}
body section form .file label #removeBtn {
  text-decoration: underline;
}
body section form .file label:active {
  background-color: rgba(255, 255, 255, 0.2);
}
body section form .file .withFile:active {
  background-color: rgba(255, 255, 255, 0.08);
}
body section form .file p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #d1d0d5;
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: -0.0125rem;
  font-weight: 300;
}
body section form .file .fileErr {
  display: none;
}
body section form .file .error {
  font-weight: bolder;
  color: red;
}
body section form div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
body section form div input {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 1rem;
  border: 1px solid #8784A5;
  border-radius: 0.75rem;
  color: #d1d0d5;
  font-size: 0.875rem;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 300;
  cursor: pointer;
}
body section form div input:active {
  background-color: rgba(255, 255, 255, 0.2);
}
body section form button {
  background-color: #f57463;
  padding: 1.0625rem 0;
  font-size: 1.25rem;
  line-height: 110%;
  letter-spacing: -0.03125rem;
  font-weight: 400;
  font-weight: 700;
  border-radius: 0.75rem;
  text-transform: uppercase;
  font-stretch: 60%;
  cursor: pointer;
}
body section form button:active {
  background-color: #e1604f;
}
body section form button:disabled {
  background-color: #d1d0d5;
  cursor: not-allowed;
}
body section .special {
  background: #f37362;
  background: linear-gradient(90deg, #f37362 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body section .ticketEmail {
  color: #f57463;
}
body .ticket-container {
  display: none;
}
body .ticket-container .ticket {
  position: relative;
  margin-top: 4.5rem;
  text-align: start;
}
body .ticket-container .ticket .ticketImage {
  width: 100%;
}
body .ticket-container .ticket .info {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
  width: 80%;
}
body .ticket-container .ticket .info img {
  width: 1.8125rem;
  grid-row: 1/-1;
}
body .ticket-container .ticket .info p {
  grid-column: 2/-1;
  font-size: 0.875rem;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 300;
}
body .ticket-container .ticket .owner {
  position: absolute;
  display: flex;
  width: 80%;
  gap: 0.75rem;
  bottom: 0.75rem;
  left: 0.75rem;
}
body .ticket-container .ticket .owner #avatar {
  width: 2.8125rem;
  height: 2.8125rem;
  object-fit: cover;
  border-radius: 0.75rem;
  border: 1px solid green;
}
body .ticket-container .ticket .owner div h2 {
  font-size: 1.375rem;
  line-height: 110%;
  letter-spacing: -0.0625rem;
  font-weight: 300;
}
body .ticket-container .ticket .owner div p {
  font-size: 0.875rem;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
body .ticket-container .ticket .ticketNum {
  color: #8784A5;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%) rotate(90deg);
  right: 0.75rem;
}
@media (pointer: fine) {
  body section form label:hover,
  body section form input:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  body section form .withFile:hover {
    background-color: rgba(255, 255, 255, 0.08);
  }
  body section form button:hover {
    background-color: #e1604f;
  }
  body section form .file label #removeBtn:hover,
  body section form .file label #changeBtn:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
/*# sourceMappingURL=styles.css.map */